

.card-img-top {
    width:100%;
    height: auto;
}

#cardSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.clear:focus::-webkit-input-placeholder 
{
    color: transparent;
    content: "";
}

.slytherin {
 background-color: grey;
 color: white;
}

.hufflepuff {
background-color: gold;
color: white;
}

.ravenclaw {
background-color: green;
color: white;
}

.gryffindor {
background-color: lightblue;
color: white;
}

#validation {
    background-color: red;
    color: white;
    
}

